<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>
		<PublishDir>bin\Release\Publish\</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<TargetFramework>net6.0-windows</TargetFramework>
		<RuntimeIdentifier>win7-x64</RuntimeIdentifier>
		<SelfContained>true</SelfContained>
		<PublishSingleFile>true</PublishSingleFile>
		<PublishReadyToRun>false</PublishReadyToRun>
		<PublishTrimmed>true</PublishTrimmed>
		<BuiltInComInteropSupport>true</BuiltInComInteropSupport>
	</PropertyGroup>
</Project>